@model Net_MVC_Workshop2.Models.BookSearchArg


@using (Html.BeginForm("Index", "Book", FormMethod.Post, new { id = "BookForm" }))
{
    <div class="form-horizontal">
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.BOOK_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BOOK_NAME, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.BOOK_CLASS_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BOOK_CLASS_ID, new { @class = "form-control", id = "BookClass", style = "width: 30%;" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.BOOK_KEEPER, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BOOK_KEEPER, new { @class = "form-control", id = "BookKeeper", style = "width: 30%;" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.BOOK_STATUS, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BOOK_STATUS, new { @class = "form-control", id = "BookStatus", style = "width: 30%;" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="查詢" class="btn btn-success" id="Search" />
                <input type="reset" value="清除" class="btn btn-info" />
                <input type="button" value="新增書籍" class="btn btn-primary" id="Insert" />
            </div>
        </div>
    </div>
    <div id="grid"></div>
    <div id="window" style="display:none">dd</div>
}

<script>
    $(document).ready(function () {
        kendo.culture("zh-TW"); //語系設地
        kendodropdownList(); //呼叫初始化kendodropdownList function
        kendogrid(); //呼叫初始化kendogrid function
        booksearch(); //書籍查詢
        kendowindow(); //初始化window式窗

    });
    //Ajax抓取資料並初始化kendodropdownList
    function kendodropdownList() {
        //圖書類別下拉式
        $.ajax({
            type: "post",
            url: "/book/BookClass",
            datatype: "json",
            success: function (response) {
                console.log(response);
                $("#BookClass").kendoDropDownList({
                    dataTextField: "BOOK_CLASS_NAME",
                    dataValueField: "BOOK_CLASS_ID",
                    dataSource: response,
                    height: 100,
                    optionLabel: "請選擇..."
                })
            }, error: function (error) {
                alert("系統發生錯誤");
            }
        });
        //借閱人下拉式
        $.ajax({
            type: "post",
            url: "/book/BookKeeper",
            datatype: "json",
            success: function (response) {
                console.log(response);
                $("#BookKeeper").kendoDropDownList({
                    dataTextField: "USER_CNAME",
                    dataValueField: "USER_ID",
                    dataSource: response,
                    height: 100,
                    optionLabel: "請選擇..."
                })
            }, error: function (error) {
                alert("系統發生錯誤");
            }
        });
        //借閱狀態下拉式
        $.ajax({
            type: "post",
            url: "/book/BookStatus",
            datatype: "json",
            success: function (response) {
                console.log(response);
                $("#BookStatus").kendoDropDownList({
                    dataTextField: "CODE_NAME",
                    dataValueField: "CODE_ID",
                    dataSource: response,
                    height: 100,
                    optionLabel: "請選擇..."
                })
            }, error: function (error) {
                alert("系統發生錯誤");
            }
        });
    }
    //Ajax抓取資料並初始化kendogrid
    function kendogrid() {
        $.ajax({
            type: "post",
            url: "/book/Index",
            datatype: "json",
            success: function (response) {
                $("#grid").kendoGrid({
                    dataSource: response,
                    pageable: { //分頁設定
                        input: true,
                        numeric: false,
                        pageSize: 10
                    },
                    columns: [
                        { field: "BOOK_CLASS_ID", title: "圖書類別" },
                        { field: "BOOK_NAME", title: "書名" },
                        { field: "BOOK_BOUGHT_DATE", title: "購書日期" },
                        { field: "BOOK_STATUS", title: "借閱狀態" },
                        { field: "BOOK_KEEPER", title: "借閱人" }
                    ]
                });
            }, error: function (error) {
                alert("系統發生錯誤");
            }
        });
    }
    //書籍查詢
    function booksearch() {
        $("#Search").click(function () {
            $.ajax({
                type: "Post",
                url: "/Book/Index",
                data: $("#BookForm").serialize(),
                dataType: "json",
                success: function (response) {
                    //更新Kendo Grid Datasource資料
                    var grid = $('#grid').data("kendoGrid");
                    grid.setDataSource(response);
                }, error: function (error) {
                    alert("系統發生錯誤");
                }
            });
            return false;
        })
    }
    function kendowindow() {
        $("#Insert").click(function () {
            $("#window").kendoWindow({
                width: "700px",
                draggable: true,
                title: "新增書籍",
                actions: ["Minimize", "Maximize", "Pin", "Close"],
                modal: true
            }).data("kendoWindow").center().open();
        })
    }
</script>
